:root {
    font-size: 62.5%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.app {
    position: relative;
    background-color: #D4F0F0;
    min-height: 100%;
}

h1 {
    font-family: 'Caprasimo', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    color: white;
    background-color: #8FCACA;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

/* ADD A TASK FORM */

#new_task_form {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 21rem;
    gap: 0.5rem;
}


#new_task_text {
    font-weight: 600;
    width: 30rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: #FFAEA5;
}

#select_progress {
    font-weight: 600;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: #FFDBCC;
}

#new_task_btn {
    font-size: 2rem;
    font-weight: 600;
    width: 4rem;
    border: none;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}


/* LIST CONTAINER */

.list_container {
    gap: 1rem;
}

.list_column {
    width: 100%;
    height: 100%;
    margin: 2rem;
}

.tasks_container{
    min-height: 30vh;
}

.title {
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem 1rem;
    border-radius: 1rem;
    background-color: #FFC8A2;    
}

.title h2 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.sort_btn {
    height: 3rem;
    width: 4rem;
    margin-right: 0.5rem;
    background-image: url(./resources/sort.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.counter {
    height: 3rem;
    width: 4rem;
    font-size: 1.3rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    background-color: white;
}




/* NEW CARD STYLE */

.card_task {
    position: relative;
    height: auto;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.4px solid #FF968A;
    border-radius: 1rem;
    background-color: white;
    cursor: move;
}

.card_task h2 {
    margin-bottom: 0.5rem;
}

.card_task p {
    font-size: 1.1rem;
}

.card-content {
    position: absolute;
    display: none;
    margin-top: 1.2rem;
}

.card-content p {
    font-weight: 700;
    color: #55CBCD;
}

.card_task:hover .card-content {
    display: block;
}


/* EDIT BUTTONS */

.card_edit {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}

.edit_btn, .delete_btn {
    height: 3rem;
    width: 4rem;
    border: none;
    border-radius: 1rem;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.edit_btn {
    background-image: url(./resources/edit_note.svg);
    background-size: 33px 33px;
}

.delete_btn {
    background-image: url(./resources/delete.png);
    background-size: 25px 25px;
}



.hidden {
    display: none;
}

.visible {
    display: flex;
}

/* NEW FORM INPUT */
.edit_form_wrap {
    flex-direction: column;
    position: fixed;
    align-content: center;
    padding: 2rem;
    padding-top: 6rem;
    background-color: #ECD5E3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 1rem;
    border: 0.4px solid #FF968A;
   
}
#edit_task_form { 
    gap: 0.5rem;
}
#edit_form_text { 
    font-weight: 600;
    width: 30rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: #FFAEA5;
}

#edit_task_btn { 
    margin-right: 0.5rem;
    width: 4rem;
    background-image: url(./resources/check.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#close_form_btn {
    position:absolute;
    top: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    background-image: url(./resources/close.png);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center;
    background-color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#edit_select_progress {
    font-weight: 600;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: #FFDBCC;
}

/* DRAG AND DROP */
.hovered{
    border: 2px dashed #333;
}

footer{
    position: absolute;
    padding: 1rem;
    margin-left: 1.2rem;
    bottom: 0;
}

/* FOOTER */
footer a{
    text-decoration: none;
    color: #fff;
}