#new_task_form {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 21rem;
    gap: 0.5rem;
}


#new_task_text {
    font-weight: 600;
    width: 30rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: var( --form-color-font);
    background-color: var(--input-background);
}

#select_progress {
    font-weight: 600;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    color: var( --form-color-font);
    background-color: var(--select-background);
}

#new_task_btn {
    font-size: 2rem;
    font-weight: 600;
    width: 4rem;
    border: none;
    background-color: var( --form-color-font);
    border-radius: 1rem;
    cursor: pointer;
}

@media (max-width:1000px) {
    #new_task_form {
        margin-inline: 0.5rem;
    }
}

@media (max-width: 540px) {
    #new_task_form {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "input input input"
            "select select button";
    }

    #new_task_text {
        width: auto;
        grid-area: input;
    }

    #select_progress {
        grid-area: select;
    }

    #new_task_btn {
        width: auto;
        grid-area: button;
    }
}
